@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

/* .flipCard {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;

  font-size: 3.5rem;
} */

.flipCard {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;
  height: 1.5em; /* Adjust the height as needed */
  width: 3.5rem;

  font-size: 3.5em; /* Adjust the font size as needed */
}

.top,
.bottom,
.flipCard .topFlip,
.flipCard .bottomFlip {
  height: 0.75em;
  line-height: 1;
  padding: 0.25em;
  overflow: hidden;
}

.middlePointer {
  font-size: 3rem;

  border-radius: 200%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.top,
.flipCard .topFlip {
  background-color: #f7f7f7;
  border-top-right-radius: 0.1em;
  border-top-left-radius: 0.1em;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.bottom,
.flipCard .bottomFlip {
  background-color: #f7f7f7;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
}

.flipCard .topFlip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes topFlip {
  100% {
    transform: rotateX(90deg);
  }
}

.flipCard .bottomFlip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes bottomFlip {
  100% {
    transform: rotateX(0deg);
  }
}

.container {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.containerSegment {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  align-items: center;
}

.segment {
  display: flex;
  gap: 0.1em;
}

.segment-title {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .flipCard {
    font-size: 3rem;
  }
}
